.navbar_container {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}

.navbar_left {
    display: flex;
    align-items: center;
    flex: 0.4;
}

.navbar_left>img {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar_left>input {
    height: 30px;
    width: 400px;
    border: none;
    border-radius: 4px;
    background-color: white;
    padding: 0 10px;
}

.navbar_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.5;
}

.navbar_right>p {
    cursor: pointer;
    color: #0047ab;
    font-size: 18px;
}

.navbar_right>button {
    cursor: pointer;
    background-color: #0047ab;
    color: whitesmoke;
    border: none;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 4px;
}

.navbar_line {
    border: 0.5px solid lightgrey;
}